# RMMZ test projects
/rmmz/

# Workspace dependencies
node_modules/

# Package builds
packages/*/dist/
packages/*/node_modules/
packages/rmmz-plugins/lib/

# Logs and misc
*.log
.DS_Store
.env
coverage/
